<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <h1>Pizza bestellen</h1>
    </div>
  </div>


  <%= render 'form', pizza: @pizza %>

  <br/>

  <h1>Pizza ᴓ27cm 6€ / ᴓ33cm 9€</h1>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">


      <thead>
      <tr>
        <th>Pizza Nr.</th>
        <th>Pizza</th>
        <th>Belag</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>06</td>
        <td>Vegetaria</td>
        <td>Artischocken, Zwiebeln, Paprika, Peperoni</td>
      </tr>
      <tr>
        <td>09</td>
        <td>Spezial</td>
        <td>Salami, Pilze, Schinken, Paprika</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Teufel</td>
        <td>Knoblauch, Peperoni-Wurst, Sardellen</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Marinara</td>
        <td>Zwiebeln, Knoblauch, Krabben, Muscheln</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Pepe</td>
        <td>Zwiebeln, Knoblauch, Artischocken, Thunfisch</td>
      </tr>
      <tr>
        <td>13</td>
        <td>4 Jahreszeiten</td>
        <td>Pilze, Paprika, Salami, Schinken, Oliven, Ei</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Selma</td>
        <td>Kapern, Schinken, Spinat, gekochtes Ei</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Angelica</td>
        <td>Pilze, Paprika, Artischocken, Oliven, Schinken</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Opa</td>
        <td>Pilze, Salami, Schinken, Würstchen</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Hawaii</td>
        <td>Pilze, Schinken, Ananas</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Mediterrana</td>
        <td>Erbsen, Blumenkohl, Auberginen</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Oma</td>
        <td>Basilikum, Peperoni-Wurst, Oliven und Mozzarella</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Quad Form.</td>
        <td>4 verschiedene Käsesorten</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Gorgonzola</td>
        <td>Schinken, Gorgonzola</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Toto</td>
        <td>Paprika, Schafskäse, Peperoni, Oliven, frische Tomaten</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Panna</td>
        <td>Sahne, Zwiebeln, Speck und Käse</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Rucola</td>
        <td>Knoblauch, Parmesan, frische Tomaten und Käse</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Samira</td>
        <td>Spinat, Gorgonzola</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Beniamino</td>
        <td>Schinken, Mais, Broccoli</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Pizza Eva</td>
        <td>Mozzarella, Basilikum, frische Tomaten</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Pizza Adam</td>
        <td>Mozzarella, frische Tomaten, Zucchini, Basilikum, Olivenöl und Oregano</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Istanbul</td>
        <td>Sucuk, Peperoni</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Bosporus</td>
        <td>Thunfisch, Zwiebeln, Peperoni</td>
      </tr>
      <tr>
        <td>35</td>
        <td>Ali Baba</td>
        <td>Thunfisch, Schafskäse</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Napoli</td>
        <td>Artischocken, Oliven, Sardellen und Käse</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>